In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#NLP libraries to clean the text data
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer
import re

ModuleNotFoundError: No module named 'nltk'

In [ ]:
#Vectorization technique TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
#for splittin the dataset
from sklearn.model_selection import train_test_split

In [ ]:
#model libraries
from sklearn.svm import SVC

In [ ]:
#accuracy measuring library
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv("data.csv")

In [3]:
data.head(50)

NameError: name 'data' is not defined

In [4]:
data.shape

NameError: name 'data' is not defined

In [5]:
data.columns

NameError: name 'data' is not defined

In [6]:
data.isnull().sum()

NameError: name 'data' is not defined

In [14]:
df=data.copy()

In [15]:
df['Body']=df['Body'].fillna('')

In [16]:
df.isnull().sum()

URLs        0
Headline    0
Body        0
Label       0
dtype: int64

In [17]:
df['News']=df['Headline']+" "+df['Body']

In [18]:
df.head()

,URLs,Headline,Body,Label,News
0,http://www.bbc.com/news/world-us-canada-414191...,Four ways Bob Corker skewered Donald Trump,Image copyright Getty Images\nOn Sunday mornin...,1,Four ways Bob Corker skewered Donald Trump Ima...
1,https://www.reuters.com/article/us-filmfestiva...,Linklater's war veteran comedy speaks to moder...,"LONDON (Reuters) - “Last Flag Flying”, a comed...",1,Linklater's war veteran comedy speaks to moder...
2,https://www.nytimes.com/2017/10/09/us/politics...,Trump’s Fight With Corker Jeopardizes His Legi...,The feud broke into public view last week when...,1,Trump’s Fight With Corker Jeopardizes His Legi...
3,https://www.reuters.com/article/us-mexico-oil-...,Egypt's Cheiron wins tie-up with Pemex for Mex...,MEXICO CITY (Reuters) - Egypt’s Cheiron Holdin...,1,Egypt's Cheiron wins tie-up with Pemex for Mex...
4,http://www.cnn.com/videos/cnnmoney/2017/10/08/...,Jason Aldean opens 'SNL' with Vegas tribute,"Country singer Jason Aldean, who was performin...",1,Jason Aldean opens 'SNL' with Vegas tribute Co...

In [19]:
df.columns

Index(['URLs', 'Headline', 'Body', 'Label', 'News'], dtype='object')

In [20]:
#Drop the features that are not needed
features_dropped=['URLs','Headline','Body']
df=df.drop(features_dropped,axis=1)

In [21]:
df.columns

Index(['Label', 'News'], dtype='object')

In [22]:
df.head()

   Label                                               News
0      1  Four ways Bob Corker skewered Donald Trump Ima...
1      1  Linklater's war veteran comedy speaks to moder...
2      1  Trump’s Fight With Corker Jeopardizes His Legi...
3      1  Egypt's Cheiron wins tie-up with Pemex for Mex...
4      1  Jason Aldean opens 'SNL' with Vegas tribute Co...

In [25]:
# Text processing (Cleaning)
# 1. Remove symbols (, . : ; ") --> Just keep a-z A-Z
# 2. Convert everything to lowercase
# 3. Removing stopwords (most common words like is, are, the, a, an, etc)
# 4. Stemming --> 
ps=PorterStemmer()

def wordopt(text):
    text=re.sub('[^a-zA-Z]',' ',text)
    text=text.lower()
    text=text.split()
    text=[ps.stem(word) for word in text if not word in stopwords.words('english')]
    text=' '.join(text)
    return text

In [27]:
df['News'] = df['News'].apply(wordopt)

In [28]:
df.head()

   Label                                               News
0      1  four way bob corker skewer donald trump imag c...
1      1  linklat war veteran comedi speak modern americ...
2      1  trump fight corker jeopard legisl agenda feud ...
3      1  egypt cheiron win tie pemex mexican onshor oil...
4      1  jason aldean open snl vega tribut countri sing...

In [29]:
X = df['News']
Y = df['Label']

# Splitting

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.25)

In [30]:
#Vectorization of data
vectorization= TfidfVectorizer()
xv_train=vectorization.fit_transform(x_train)
xv_test=vectorization.transform(x_test)

In [31]:
x_train

2927    conni hawkin electrifi n b forward bar prime d...
3169    dope ioc denial drug say icaru film director f...
2948    snl michael che call trump b tch puerto rico r...
1725    believ california want red flag warn californi...
1364    modern day motorsport len year old camera cnn ...
                              ...
1533    hey guy found dude got actual video rd shooter...
3115    eric trump nation anthem kept sacr red flag wa...
1684    texan player donat first game check worker eff...
2511    raven raider wednesday potato batteri light ro...
536     indian child bride sold packag deal men gulf s...
Name: News, Length: 3006, dtype: object

In [32]:
print(xv_train[0])

  (0, 3370)	0.02763078731267642
  (0, 11028)	0.023594243671044565
  (0, 71)	0.01450850744589405
  (0, 19724)	0.016514543786053486
  (0, 25504)	0.06683114714780507
  (0, 21003)	0.017132894750528635
  (0, 26024)	0.014229073822835166
  (0, 22799)	0.01902578365536705
  (0, 6192)	0.013481599116681049
  (0, 9039)	0.03302908757210697
  (0, 23732)	0.012122662461337036
  (0, 26324)	0.010872293078840599
  (0, 1192)	0.012026572251332406
  (0, 24207)	0.016778974597383367
  (0, 7735)	0.01620439428760009
  (0, 13304)	0.015047292368020175
  (0, 18990)	0.02156238781727183
  (0, 9351)	0.024376750805379422
  (0, 2757)	0.0219732226894927
  (0, 12121)	0.015001131119513166
  (0, 1399)	0.024627708114874802
  (0, 19147)	0.034423305358410115
  (0, 6380)	0.01784954960267758
  (0, 13766)	0.01115721323517907
  (0, 5935)	0.016387916719731038
  :	:
  (0, 20749)	0.04885512158623964
  (0, 10511)	0.038239676970929525
  (0, 4282)	0.040543569659774216
  (0, 26613)	0.07464708914209814
  (0, 16077)	0.05258130655423914
  (0, 18025)	0.05366584947925451
  (0, 8225)	0.0298548453427326
  (0, 16774)	0.04744556882873299
  (0, 2029)	0.035305111680552684
  (0, 11274)	0.05304759451612138
  (0, 8059)	0.020782856676120356
  (0, 366)	0.03498056877922244
  (0, 1715)	0.01684757444035465
  (0, 6817)	0.057531481470452804
  (0, 5064)	0.009913917736343324
  (0, 17796)	0.035722497589309295
  (0, 18027)	0.03028527273805852
  (0, 8571)	0.025911523434319787
  (0, 6181)	0.016557554296795347
  (0, 18498)	0.0178784063749338
  (0, 1799)	0.05874326186325539
  (0, 8601)	0.03124778762460634
  (0, 7109)	0.033415573573902534
  (0, 10232)	0.7858949469648044
  (0, 4811)	0.09777659026039583

In [34]:
svm_model=SVC(kernel='linear')
svm_model.fit(xv_train,y_train)
svm_y_pred=svm_model.predict(xv_test)
score=accuracy_score(y_test,svm_y_pred)
print("Accuracy SVM:",score)

Accuracy SVM: 0.9880358923230309

In [2]:
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier
DT=DecisionTreeClassifier()
DT.fit(xv_train,y_train)

pred_dt=DT.predict(xv_test)
DT.score(xv_test,y_test)

#print(classification_report(y_test, pred_dt))

NameError: name 'xv_train' is not defined

In [3]:
pip install nltk

Requirement already satisfied: nltk in c:\users\prabu\appdata\local\programs\python\python311\lib\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\prabu\appdata\local\programs\python\python311\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: joblib in c:\users\prabu\appdata\local\programs\python\python311\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\prabu\appdata\local\programs\python\python311\lib\site-packages (from nltk) (2023.6.3)
Requirement already satisfied: tqdm in c:\users\prabu\appdata\local\programs\python\python311\lib\site-packages (from nltk) (4.65.0)
Requirement already satisfied: colorama in c:\users\prabu\appdata\local\programs\python\python311\lib\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip